<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShadowSocks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
    <userSettings>
        <ShadowSocks.Properties.Settings>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="avatar" serializeAs="String">
                <value />
            </setting>
            <setting name="expiretime" serializeAs="String">
                <value />
            </setting>
            <setting name="phone" serializeAs="String">
                <value />
            </setting>
            <setting name="type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="configuration" serializeAs="String">
                <value />
            </setting>
            <setting name="usergiftday" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sitename" serializeAs="String">
                <value />
            </setting>
            <setting name="siteword" serializeAs="String">
                <value />
            </setting>
            <setting name="company" serializeAs="String">
                <value />
            </setting>
            <setting name="version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogViewerHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogViewerTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogViewerLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogViewerMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogViewerWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="messages" serializeAs="String">
                <value />
            </setting>
        </ShadowSocks.Properties.Settings>
    </userSettings>
</configuration>